[Unit]
Description=Run CC disk-space monitor every hour

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
RandomizedDelaySec=60
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
